.App {
  text-align: center;
}

.nav {
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  color: white;
  display: flex;
  min-height: 10vh;
  width: 100%;

}
.nav-link {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 40%;
  list-style: none;

}
